*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 10vh;
}

.logo{
    height: 34px;
    width: 94px;
    margin-left: 20px;

}

.list ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 63px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.btn{
    border: none;
    border-radius: 10px;
    margin-right: 50px;
    padding: 5px 20px;
    color:#ffffff;
    background-color: #ca1eb9;
    line-height: 24px;
    font-weight: 500;
}

.main{
    background-image: url(/assets/bg.png);
    background-size: cover;
    height: 91.5vh;
    text-align: center;
}

.content h1{
    flex: 1;   
    font-size: 10vh;
    font-weight: 600;
    color: #fff; 
    padding-top: 10%;  
}

.content p{
    font-size: 30px;
    color: #fff;
}

.botn button{
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 20px 20px;
  margin-top: 20px;
  background-color: #ca1eb9;
  font-weight: bold;
  width: 19%;
  font-size: 20px;
}